/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {	
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body{
	margin:0 auto;
}

h1,h2,h3,h4,li,ul,a {
	margin:0;
	padding:0;
}
	
ul > li > article {
	width:40px;
	height:40px;
	opacity:0.9;
}

ul,p {
	margin:0;
	list-style-type: none;
}

#form1{
	display:inline-block;
}
.content {
	overflow: auto
}

.mobile {
	display:none;
}

a {
 text-decoration: none;
}
 
.carousel_slide{
	overflow: hidden;
}

.carousel_slide .carousel_img{
	width:90%;
	height:90%;
	max-width:90%;
	max-height:90%;
	position:absolute;
	-webkit-animation-name:css-animation-fade;
	-webkit-animation-duration:30s;
	-webkit-animation-iteration-count:infinite;
}

.carousel_slide .carousel_img :nth-child(2){
	-webkit-animation-delay:5s;
}


.carousel_slide .carousel_img :nth-child(3){
	-webkit-animation-delay:15s;
}


.carousel_slide .carousel_img :nth-child(4){
	-webkit-animation-delay:20s;
}

.arrow-right {
	display: none;
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid white;
}
@-webkit-keyframes css-animation-fade{
	from {opacity:0;}
	5% {opacity:1;}
	15%{opacity:1;}
	20%{opacity:0;}
	to {opacity:0;}
}

.topLinks{
	display: inline-block;
}

.topList{
	text-align: left;
	display: inline;
	padding:1%;
	list-style: none;
}

.topList li {
	padding:5px;
	display:inline-block;

}

.topList li:hover {
	color:lightblue;
	
}

.topDropdown{
	display:none;
	visibility: hidden;
	width:30%;
	height:auto;
	font-size:1em;
	box-shadow:5px 5px 5px grey;
	background:white;
	position:absolute;
}

.topDropdown a {
	text-align:left;
	margin:3px;
}

.topDropdown a:hover{
	color:lightblue;
}

.topLinks:hover .topDropdown {
  display: block;
  visibility: visible;
}

.topDropdown li{
	text-align:left;
	margin:0;
	padding:2px;
	display:inline-block;
	color:light-blue;
	-webkit-column-count: 3; 
	-webkit-column-width: 3%;
}

.dropdown-toggle{
	color:rgb(88,89,81);
}

.dropdown-toggle:hover{
	color:blue;
}

.head_class {
	background:white;
	position:fixed;
	padding-bottom:5px;
	z-index:20;
	width:100%;
	margin:0 auto;
}

.links {
	display:block;
	height:auto;
	max-width:1000px;
	margin:0 auto;
}

.lang{
	text-align:right;
}

.top {
	background-image: url(../src/img/slide-bg-complexity.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
	background-size:cover;
	position:relative;
}

.top div {
	color:white;
	text-align:left;
	margin:0 auto;
	max-width:1000px;
}

#free {
	font-size:1.5em;
	margin:40px;
	max-width:470px;
}

.description {
	display:block;
}

ul.first{ position:fixed; float:left}
ul.second{ position:fixed; float:right}
	  
#learn {
	color:white;
	border-style: solid;
	background-color:#0099CC;
	box-shadow:5px 5px 5px #0099FF;
	margin-left:5%;
}

.articles_whats article p{
	opacity: 0.9;
    width: 200px;
    padding: 25px;
	border-radius: 5px;
    margin: 25px;
	display: inline-block;

}
.articles_ article {
	opacity: 0.9;
    width: 200px;
    padding: 25px;
	border-radius: 5px;
    margin: 25px;
	display: inline-block;
}

.articles_ article a{
	display: block;
}
.what_can_we_do_for_you {
	background-color:#0099CC;
	padding-bottom:10px;
}

.what_can_we_do_for_you div{
	text-align:center;
	color:white;
	margin:0 auto;
	width:100%;
	max-width:1000px;
}

.what_can_we_do_for_you li{
	display:inline-block;
}

.what_can_we_do_for_you button{
	background-color:#0099FF;
	margin:1%;
}

.whats_happening {
	background-image: url(../src/img/news-and-events-bg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}


.whats_happening div {
	padding-top:5px;
	padding-bottom;5px;
	color:white;
	text-align:center;
	margin:0 auto;
	max-width:1000px;
}


.whats_happening a p {
	width:20px;
	height:20px;
	background:blue;
	margin:0px;
	padding:0px;
	
}
.whats_happening h4, p{
		text-align: left;
		padding-left: 10px;

}

.events{
	border-color: black;
	display:inline-table;
	background-color: #0099CC;
	padding:20px;
}



.whats_happening ul li{
    background: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 1s;
    font-size:50%;
}

.whats_happening ul li:hover{
	opacity: 0.8;
}

.whats_happening ul li p{
	color: black;
}

.events_news {
	display: inline-block;
	text-align:left;
	margin: 20px;
	color: white;
}

.events_news li{
	display: inline-flex;
	text-align:left;
	font-size:1.5em;
	color: white;
}

.stories{
	margin: 0 auto;
	max-width: 1000px;
	padding-bottom:5px;
	padding-top:5px;
}

.stories div{
	max-width:1000px;
}

.stories h2 {
	text-align:center;
	
	color:white;
	color:white;
}
.success_stories{
	background: url(../src/img/weDoBG.png) repeat scroll 0 0,linear-gradient(to left, DodgerBlue, LightBlue);
	padding-bottom: 5px;
}

.success_story > li {
  display: inline-block;
  width: 32%;
  float: left;
  margin: 4px;
  padding: 2px;
}
.success_story > li > section {
  padding: 10px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 3px;
}

.success_story > li > section a{
  transition: color 2s;
}
.success_story > li > section a:hover {
	color: Green;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px;
}
.centered button{
	margin: 0 auto;
	display: block;
	background-color:#0099CC;
	padding:10px;
	border-radius: 5px;
	color:white;
}

section.no_picture{
	width: 250px;
}

.success_story > li > section > a  > img {
  float: left;
  margin-left: 2px;
  padding-right: 10px;
}
.success_story > li > section > a > p {
  border-bottom: 1px solid LightGray;
  margin: 0 auto;
  height: 110px;
}
.success_text {
  display: inline-block;
}
.success_text > p {
  margin: 0 auto;
  padding: 2px;
}
.success_text > p > a {
  text-decoration: none;
  color: blue;
}

.person_pic {
  float: right;
  max-width: 100px;
}
.company {
  display: inline-block;
  margin: 10px 6px 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
}

img{
  vertical-align: middle;
}
.company:last-child {
  display: inline-block;
  margin: 10px 0 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
}

.logo{
	margin-bottom: 40px;
}
.logos_top {
  margin-bottom: 10px;
}
.logos_top > .company {
  display: inline-block;
  margin: 0 6px 0 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
}
.logos_top > .company:last-child {
  display: inline-block;
  margin: 0;
  background: #FFFFFF;
  width: 31%;
  border-radius: 3px;
  text-align: center;
  vertical-align: top;
}

.company{
	opacity: 0.7;
	transition: opacity 1s;
}
.company:hover{
	opacity: 1;
}

img{
  vertical-align: middle;
}

.success_text {
  display: inline-block;
}

.success_text > p {
  margin: 0 auto;
  padding: 2px;
}

.success_text > p > a {
  text-decoration: none;
  color: blue;
}


.bottom_summary {
	background-color:#202020;
}

.mobile-bottom{
	display:none;
}

.bottom_summary div {
	text-align:center;
	display:inline-block;
	color:white;
	float:left;
	width:100%;
	font-size:80%;
	margin:0 auto;
}

.bottom_summary div ul  {
	text-align:left;
	margin:0;
	list-style-type: none;
	display:inline-block;
}

.bottom_summary  > div > ul > li {	
	display: inline-block;
	color: white;
	padding: 20px;
	float: left;
}

.bottom_list a{
	color:white;
}

#blog_posts {
	text-align:left;
	padding:5px;
	background-color:#383838;
}

#blog_posts p {
	background-color:#383838;
}

#blog_posts h3 {
	color:#0099FF;
}

#blog_posts button {
	background-color:#0099FF;
	box-shadow:5px 5px 5px #0099FF;
	padding:5px;
	margin:10px;
	margin-left:0;
}

footer{
	background-color:#202020;
}

footer div{	
	max-width:1000px;
	text-align:center;
	color:grey;
	margin:0 auto;
}


ol.slideshow{
	margin: 10px auto 0 5%;
	max-width: 1000px;
	padding-left: 0px;
}


ol.slideshow li{
	width: 11px;
	height: 11px;
	border-radius: 2px;
	background-color: LightGray;
	float: left;
	margin: 3px;
}

ol.slideshow li{
	cursor: pointer;
}

ol.slideshow li{
	list-style-type: none;
}

ol.slideshow li:first-child{
	margin-left: 0px !important;
}

ol.slideshow li:hover{
	box-shadow: 0px 0px 5px #fff;
}

ol.slideshow li:active{
	background-color: gray;
}

ol.slideshow li.slideshow_1{
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

.ham_menu
{
	display: none;
}

.mobile-search{
	display:none;
}


.mobile-form{
	display:none;
	width:100%;
	font-size:1em;
	box-shadow:5px 5px 5px black;
	padding-left:30px;
	margin-top:15px;
	background-color: white;
	background: white;
}

ol.slideshow li p{
	display:none;
}

.ham_menu ul{
	width:100%;
	font-size:1em;
	box-shadow:5px 5px 5px black;
	position:absolute;
	padding-left:30px;
	margin-top:10px;
	text-align: left;
	background-color: #D5D1D1;
	background: white;
}

.ham_menu ul li{
  	border-bottom: 1px solid #EBE7F0;
}



@media screen and (max-width:767px) {
	
	html{
	max-width:100%;
	margin:0;
	padding:0;
	}
	
	.container{
		width:auto;
	}

	.mobile {
		display:inline-flex;
		float: left;
		max-width:100%;
		text-align: center;
		-webkit-column-count:3;
		-webkit-column-width:33%;
	}

	.mobile-search{
		display:block;
	}
	
	.mobile a img{
		width:50%;
		height: 50%;
	}

	.mobile-search form{
		width:100%;
		font-size:1em;
		box-shadow:5px 5px 5px black;
		margin:0;
		margin-top:15px;
		background:white;
		z-index:2;
	}
	
	.ham_menu ul li::before{
		content:url('../src/img/promotion-item-arrow.png');
		float:left;
		margin:0 auto;
	}

	.ham_menu ul{
		background:#D5D1D1;
	}

	#free {
		background: url(../src/img/weDoBG.png) repeat scroll 0 0,linear-gradient(to left, DodgerBlue, LightBlue);
		opacity:0.8;
		margin:0 auto;
		padding:10px;
		padding-top:50px;
		max-width:100%;
		font-size: 1em;
	}

	.articles_{
		width:100%;
		background-image: none;
		margin:0;
		padding-top: 10%;
		display: inline-block;

	}

	.articles_ article{
		display:inline-block;
		width: 100%;
		height:50%;
		padding:0;
		margin-top: 40px;
		border-radius: 0px;
		margin:0 auto;
		opacity:1;
		border-radius:5px;
		margin:1px;
	}

	.articles_ article::after{
		content:url('../src/img/promotion-item-arrow.png');
		float:right;
		margin:0 auto;
	}


	.what_can_we_do_for_you ul{
		width:100%;
		-webkit-column-count: 3; 
		-webkit-column-width: 2%;
	}

	.what_can_we_do_for_you button{
		display:none;
	}

	.whats_happening h4, p{
		text-align: left;
		padding-left: 10px;

	}

	.success_story li{
		margin:0;
		padding:0;
		-webkit-column-count: 1; 
		-webkit-column-width:100%;
		width:50%;
		float:right;
		font-size: 0.6em;
		z-index: 1;
	}
	.success_story > li > section{
		width:75%;
	}

	.mobile-bottom{
		color:white;
		display:block;
		background-color:#202020;
	}

	.mobile-bottom li{
		padding:5px;
		display:block;
		margin-left:5px;
		border-bottom: 1px solid #000;
	}

	.mobile-bottom a{
		padding-left:10px;
	}

ol.slideshow li p{
	display:inline;
	padding:0;
}
ol.slideshow li{
	width: 11px;
	height: 11px;
	border-radius: 2px;
	background-color: LightGray;
	float: left;
	margin: 3px;
	padding:10px;
}

ol.slideshow li:hover{
	background:lightblue;
}
	h4, h1{
		font-size: 1em;
	}

	.company, .success_text,.logos_logos_top , .links, .search, .lang, .dropdown-toggle, .no_picture , .bottom_summary{
		display:none;
	}

	.topList{

		display: hidden;
	}

}
